hr {
    background:#E6E6E6;
    height:1px;
    border:0;
}

.category {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.category button {
    border-radius: 20px;
    border: 1.5px solid #E6E6E6;
    background: rgba(217, 217, 217, 0.00);
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    flex-grow: 1;
    min-width: 100px;
    margin: 0 10px;

}

.post-title {
    font-size: 16px;
    font-weight: 500;
}

.post-content {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
}

.post-details {
    display: flex;
    align-items: center;
}

.post-details span {
    margin-left: 2px;
    margin-right: 6px;
    font-size: 12px;
}

.post-time {
    color: #B3B3B3;
}

.recruitment-info {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.recruitment-info td {
    padding-right: 4px;
}


.recruitment-details {
    display: flex;
    align-items: center;
}

.recruitment-details span {
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 400;
}

.recruitment-details img {
    margin-left: 6px;
}

.post-recruitment {
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    background-color: rgba(106, 156, 253, 0.30);
}

.button-container {
    position: fixed;
    bottom: 70px;
    min-width: 320px;
    max-width: 500px;
}

.newPostBtn {
    color: white;
    border-radius: 20px;
    background: #6A9CFD;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 70px;
    right: 20px;
}

.newPostBtn img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}